<link rel="stylesheet" href="/CSS/grupos.css" />

      {{#each lista}}
<form
  class="form-agregar"
  action="/grupos/editar/{{id_grupo}}"
  method="post"
  id="main"
>
  <div class="contenedor-agregar">
    <div class="titulo-agregar"> <h1 class="">Editar grupo</h1>     
         <input
            class="oculto"
            type="text"
            name="id_grupo"
            id="grupo"
            checked
            aria-checked="true"
            value="{{id_grupo}}"
            readonly
          />
                </div>
          {{/each}}<!--
      {{#each tipc}}
        <input
          type="text"
          name="id_tipoCiclismo"
          id="numero1"
          value="{{'max(id_tipoCiclismo)'}}"
          readonly
          style="background-color: red;"
        />
      {{/each}}-->
{{#each lista}}
    <div class="contenedor-agregar__contenido" id="contenido">

        <div class="texto-agregar" id="contenido">
          <div class="input-agregar" id="nombre">
            <input
              class="input"
              type="text"
              name="nombre_grupo"
              id="nombre_grupo"
              checked
              aria-checked="true"
              placeholder="Inserte el nombre del grupo"
              value="{{nombre_grupo}}"
            />
          </div>
                {{/each}}
                {{#each listaDetalleGrupo}}
          <div class="input-agregar" id="integrantes">
            <input
              class="input"
              type="text"
              name="integrantes_detalleGrupo"
              id="nombre_grupo"
              checked
              aria-checked="true"
              placeholder="Inserte los integrantes del grupo"
              value="{{integrantes_detalleGrupo}}"
            />
          </div>
          {{/each}}
          {{#each lista}}
          <div class="input-agregar" id="rutas">
            <select name="rutas_grupo" id="" class="input" >
             <option value="" style="background-color: black; color:white;">{{rutas_grupo}}</option>
             <option value="Ruta 1 Sur" >Ruta 1 Sur</option>
             <option value="Ruta 1 Centro" >Ruta 1 Centro</option>
             <option value="Ruta 1 Norte" >Ruta 1 Norte</option>
            </select>
          </div>
          {{/each}}
          {{#each tipc}}
          <div class="input-agregar" id="tipoCiclismo">
            <select name="nombre_tipoCiclismo" id="" class="input">
             <option value="" style="background-color: black; color:white;">{{nombre_tipoCiclismo}}</option>
             <option value="Montañismo" >Montañismo</option>
             <option value="Ciclismo de ruta" >Ciclismo de ruta</option>
             <option value="BiciCross" >BiciCross</option>
             <option value="Ciclopaseo" >Ciclopaseo</option>
            </select>
          </div>
          {{/each}}
          {{#each lista}}
          <div class="input-agregar" id="descripcion">
            <input
              name="descripcion_grupo"
              class="input input--area"
              placeholder="Inserte la descripcion del grupo"
              value="{{descripcion_grupo}}"
            />
          </div>
        </div>
        <div class="contenedor-imagen">
          <div class="imagenrec" id="nombre">
            <img src="/IMG/grupos//{{foto_grupo}}" alt="" />
          </div>
          <input type="file" name="foto_grupo" id="foto_grupo" />
          <div class="botones">
            <div id="guardar">
              <button type="submit" class="grupo-boton"><b>Guardar</b></button>
            </div>
            <div id="eliminar">
          <a href="/grupos/eliminar/{{id_grupo}}"><b>Eliminar</b></a>
            </div>
            <div>
              <a href="/grupos/listar/{{id_grupo}}">Regresar</a>
            </div>
          </div>
{{/each}}
        </div>
    </div>
  </div>
</form>