<link rel="stylesheet" href="/CSS/grupos.css" />
<form action="/grupos/listar/{{user.id_cliente}}" method="get" ></form>

<div class="contenedor-grupos">
  <div class="grupo__encabezado">
    <div class="encabezado">
      <h6 class="grupo-titulo">Grupos ciclismo</h6>
      <a href="/grupos/agregar/{{user.id_cliente}}"><button class="grupo-boton"><b>Agregar grupo</b></button></a>
    </div>
  </div>
  <hr>
</div>
<div class="grupo-listar">
  {{#each lista}}
  <a href="/grupos/editar/{{id_grupo}}">
    <div class="contenedor-lista">
      <div class="lista-grupo">
        <div class="imagenrec" id="nombre">
          <img src="/IMG/grupos//{{foto_grupo}}" alt="">
        </div>
        <div class="imagenrec" id="nombre">
          <p>{{nombre_grupo}}</p>
        </div>
      </div>
    </div>
  </a>
  {{else}}
</div>
<div class="contenedorM">
  <div class="contenedor__mensaje">
    <p>No existen grupos registrados</p>
    <p>¿Agregar un nuevo grupo?</p>
    <a href="/grupos/agregar/{{user.id_cliente}}"><button class="grupo-boton boton"><b>Agregar</b></button></a>
  </div>
</div>
{{/each}}